@using System.Resources
@using AspBookLibrary.Extensions
@using AspBookLibrary.Models
@model AspBookLibrary.Models.IndexViewModel
@{
    ViewBag.Title = "Account Management";
}

@if (ViewBag.StatusMessage != null && ViewBag.StatusMessage != string.Empty)
{
    <div class="alert alert-success" role="alert">
        <strong>Hey there!</strong> @ViewBag.StatusMessage
    </div>
}

<div class="row">
    <div class="col">
        <h5>Your uploaded books</h5>

        <div class="row">
            @foreach (BookModel book in ViewBag.Books)
            {
                <div class="col-sm-6" style="margin-bottom: 25px;">
                    <div class="book-card-preview card card-inverse card-no-border">
                        <img class="card-img" src="~/Content/images/thumbnails/@book.PictureFileUrl" alt="@book.Title">
                        <div class="card-img-overlay">
                            <h2 class="card-title">@book.Title</h2>
                            <p class="card-text">@book.Description.</p>
                            <p class="align-bottom">
                                <a href="@Url.Action("Edit", "Books", new { id = @book.BookId })" class="btn btn-secondary">Edit</a>
                                <a href="@Url.Action("Delete", "Books", new { id = @book.BookId })" class="btn btn-danger">Delete</a>
                            </p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col">
        <h5>Account settings 
            @if (User.IsInRole(RoleTypes.Administrator.Get()))
            { <span class="badge badge-danger">@RoleTypes.Administrator.Get()</span> }
            @if (User.IsInRole(RoleTypes.Moderator.Get()))
            { <span class="badge badge-primary">@RoleTypes.Moderator.Get()</span> }
            @if (User.IsInRole(RoleTypes.Member.Get()))
            { <span class="badge badge-success">@RoleTypes.Member.Get()</span> }
        </h5>
        
        <div class="form-group">
            <a href="@Url.Action("EditUserInfo")" class="btn btn-secondary btn-block">Edit account details</a>
            <small class="form-text text-muted">You can change your avatar, first and last names, address and more.</small>
        </div>

        <div class="form-group">
            @if (Model.HasPassword)
            {
                <a href="@Url.Action("ChangePassword")" class="btn btn-secondary btn-block">Change your password</a>
            }
            else
            {
                <a href="@Url.Action("SetPassword")" class="btn btn-secondary btn-block">Create password</a>
            }
            <small class="form-text text-muted">Choose strong password if you think your current password is too weak.</small>
        </div>
        
        <div class="form-group">
            <a href="@Url.Action("ManageLogins")" class="btn btn-secondary btn-block">Manage your applications logins</a>
            <small class="form-text text-muted">Currently you have authentificated @Model.Logins.Count login methods.</small>
        </div>
    </div>
</div>
