@using AspBookLibrary.Models
@{
    ViewBag.Title = "User Management";
}

@if (ViewBag.StatusMessage != null && ViewBag.StatusMessage != string.Empty)
{
    <div class="alert alert-success" role="alert">
        <strong>Hey there!</strong> @ViewBag.StatusMessage
    </div>
}

<div class="row">
    <h5>User management</h5>
    @foreach (ApplicationUser user in ViewBag.Users)
    {
        <div class="col-md-12 card" style="margin-bottom: 10px;">
            <div class="card-block">
                <h4 class="card-title">@user.Email</h4>
                <a href="@Url.Action("Edit", "Books", new {id = @user.Id})" class="card-link">Edit</a>
                <a href="@Url.Action("DeleteUser", "Manage", new {id = @user.Id})" class="card-link">Delete</a>
            </div>
        </div>
    }
</div>