@{
    ViewBag.Title = "Home";
}
<br />

<div class="ui container">
    <div class="ui two column centered grid" style="padding-top: 200px; padding-bottom: 75px;">
        <div class="column">
            <div class="ui fluid icon input large">
                <input type="text" placeholder="Search...">
                <i class="search icon"></i>
            </div>
        </div>
    </div>
    <div class="ui four column centered grid raised segment" style="border: none">
        @Html.Partial("_BookCardView", null, new ViewDataDictionary { { "Title", "Interesting Book" }, { "Author", "O Henry" }, { "Genre", "Detective" } })
        @Html.Partial("_BookCardView", null, new ViewDataDictionary { { "Title", "Interesting Book" }, { "Author", "O Henry" }, { "Genre", "Detective" } })
        @Html.Partial("_BookCardView", null, new ViewDataDictionary { { "Title", "Interesting Book" }, { "Author", "O Henry" }, { "Genre", "Detective" } })
        @Html.Partial("_BookCardView", null, new ViewDataDictionary { { "Title", "Interesting Book" }, { "Author", "O Henry" }, { "Genre", "Detective" } })
    </div>
</div>

@Html.Partial("_Footer")