@using AspBookLibrary.Models
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <p class="lead text-center">Search for tons of books posted everyday for you on students book shelf</p>
    <div class="text-center">
        @if (Request.IsAuthenticated)
        {
            <a href="@Url.Action("AddBook", "Books")" class="btn btn-lg btn-success">Start uploading your new Book</a>
        }
        else
        {
            @Html.ActionLink("Log in to start adding Books!", "Login", "Account", routeValues: new { returnUrl = "/manage" }, htmlAttributes: new { id = "loginLink", @class = "btn btn-lg btn-primary" })
        }
    </div>
</div>

<div class="row">
    @foreach (BookModel book in @ViewBag.Books)
    {
        <div class="col-md-4" style="margin-bottom: 25px;">
            <div class="book-card-layout card card-inverse card-no-border">
                <img class="card-img" src="~/Content/images/thumbnails/@book.PictureFileUrl" alt="@book.Title">
                <div class="card-img-overlay">
                    <h2 class="card-title book-title-font">@book.Title</h2>
                    <p class="card-text">@book.Description.</p>
                    <p class="align-bottom"><a class="btn btn-outline-secondary" href="~/Content/books/@book.BookFileUrl">Start Reading</a></p>
                </div>
            </div>
        </div>
    }
</div>