@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <div class="item">
        <a class="ui positive button" href='@Url.Action("Index", "Manage")'>Hello @User.Identity.GetUserName() !</a>
    </div>
    using (Html.BeginForm ("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "item" }))
    {
    @Html.AntiForgeryToken()
    <a class="ui button" href="javascript:document.getElementById('logoutForm').submit()">Log off</a>
    }
}
else
{
    <div class="item">
        <a class="ui positive button" href="@Url.Action("Register", "Account")">Register</a>
    </div>
    <div class="item">
        <a class="ui button" href="@Url.Action("Login", "Account")">Log in</a>
    </div>
}
