@using AspBookLibrary.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
}

<div class="ui content" style="padding-top:150px">
    <div class="ui four columns centered grid">
        <div class="column ui segment">
            <h3>Use a local account to log in.</h3>
            @using (Html.BeginForm("Login", "Account", new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post, new {@class = "ui form", role = "form"}))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="field">
                    @Html.LabelFor(m => m.Email, new {@class = "col-md-2 control-label"})
                    @Html.TextBoxFor(m => m.Email, new {})
                    @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password, new {@class = "col-md-2 control-label"})
                    @Html.PasswordFor(m => m.Password, new {})
                    @Html.ValidationMessageFor(m => m.Password, "", new {@class = "text-danger"})
                </div>
                <div class="field">
                    <div class="ui checkbox">
                        @Html.CheckBoxFor(m => m.RememberMe)
                        @Html.LabelFor(m => m.RememberMe)
                    </div>
                </div>
                <input type="submit" value="Log in" class="ui positive button"/>
                <a class="ui button" href='@Url.Action("Register", "Account")'>Register as a new user</a>
                    @* Enable this once you have account confirmation enabled for password reset functionality
                            <p>
                                @Html.ActionLink("Forgot your password?", "ForgotPassword")
                            </p>*@

            }
        </div>
    </div>
    <div class="ui four columns centered grid" style="padding-top:30px;padding-bottom:100px">
        <div class="column ui segment form">
            @Html.Partial("_ExternalLoginsListPartial", new ExternalLoginListViewModel { ReturnUrl = ViewBag.ReturnUrl })
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}