@model AspBookLibrary.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<div class="ui content" style="padding-top:150px">
    <div class="ui four columns centered grid" style="padding-bottom: 100px">
        <div class="column ui segment">
            <h4>Create a new account.</h4>
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "ui form", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="field">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                </div>
                <div class="field">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
                <div class="field">
                    <input type="submit" class="ui positive button" value="Register" />
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
